/**
 * @file App.css
 * @brief アプリケーションのスタイルシート
 * @details アプリケーション全体のスタイルを定義します。
 */

.spotify {
  width: 60px;
  height: 60px;
}
.genshin {
  width: 60px;
  height: 60px;
}
.github {
  width: 60px;
  height: 60px;
}

.intro-card-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:first baseline;
  margin-left: 40%;
}